<div style="margin-top: 10px">
  <hr [ngClass]="{ 'current-user': isSelected }" />
  <div class="row">
    <div class="col-md-6">{{user.firstName}} {{user.lastName}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">{{user.email}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">{{user.id}}</div>
  </div>
  <!--<div class="row">
    <div class="col-md-6">{{customer.phone}}</div>
    <div class="col-md-3">{{customer.state}}</div>
  </div>-->
  <div class="row" *ngIf="isSelected">
    <div class="col-md-6">
      <a class="btn btn-primary" routerLink="/user-detail/{{user.id}}">Details</a>
      <a class="btn btn-danger" (click)="deleteUser()">Delete</a>
        <!--<a class="btn btn-success" routerLink="/order/{{customer.id}}">Place Order</a>-->
    </div>
  </div>
  <hr [ngClass]="{ 'current-user': isSelected }" />
</div>

<div class="modal fade" bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this user?
      </div>
      <div class="modal-footer">
        <button class='btn btn-default' (click)="deleteModal.hide()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmDeleteUser()">Delete</button>
      </div>
    </div>
  </div>